.header {
    clip-path: polygon(0 0, 100% 0, 100% 20%, 95% 61%, 29% 89%, 10% 89%, 0 78%, 0% 20%);
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("grammer.jpg");
    background-size: contain;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #12718270;
}

#navbar {
    color: white;
    background-color: transparent;
    z-index: 1;
}

#navbar a {
    margin: 3%;
    color: white;
}

#temp {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    transition: all 1s;
    margin: 3%;
    font-family: 'Merienda One', cursive;
    border-radius: 100px;
}

#temp:before {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    z-index: -1;
    content: 'Show Me';
    transform-origin: left bottom;
    transition: transform 0.5s;
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

#temp:hover:before {
    transform: rotate(0deg);
}

#temp:hover {
    color: transparent;
}

#home {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    transition: all 1s;
    margin: 3%;
    font-family: 'Merienda One', cursive;
    border-radius: 100px;
}

#home:before {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    z-index: -1;
    content: 'Home';
    transform-origin: left bottom;
    transition: transform 0.5s;
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

#home:hover:before {
    transform: rotate(0deg);
}

#home:hover {
    color: transparent;
}

#about {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    transition: all 1s;
    margin: 3%;
    font-family: 'Merienda One', cursive;
    border-radius: 100px;
}

#about:before {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    z-index: -1;
    content: 'about';
    transform-origin: left bottom;
    transition: transform 0.5s;
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

#about:hover:before {
    transform: rotate(0deg);
}

#about:hover {
    color: transparent;
}

footer {
    margin-top: 7%;
    width: 100%;
    height: 370px;
    background: #0830379c;
}

ul li {
    display: inline;
    list-style: none;
    color: white;
    animation: animo 5s linear infinite;
}

#tech {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    transition: all 1s;
    margin: 3%;
    font-family: 'Merienda One', cursive;
    border-radius: 100px;
}

#tech:before {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    z-index: -1;
    content: 'technology';
    transform-origin: left bottom;
    transition: transform .5s;
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

#tech:hover:before {
    transform: rotate(0deg);
}

#tech:hover {
    color: transparent;
}

#brand {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    transition: all 1s;
    margin: 3%;
    font-family: 'Merienda One', cursive;
    border-radius: 100px;
    overflow: hidden;
}

#brand:before {
    position: absolute;
    background-color: rgba(6, 131, 83, 0.72);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    z-index: -1;
    content: 'I am Kashif';
    transform-origin: left bottom;
    transition: transform 1s;
    transform: translateX(100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#brand:hover:before {
    transform: translateX(0);
}

#brand:hover {
    color: transparent;
}


/*
1ST PART
navbar and Icons completed



Thanks GOD
*/

.over {
    margin-top: 20%;
    display: grid;
    grid-template-columns: 40% 60%;
}

.item1 h3 {
    color: white;
}

.item1 p {
    color: white;
}

#dot1 {
    animation: dot 0.8s linear infinite;
    transition: all 1s;
}

@keyframes dot {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-6%);
    }
    100% {
        transform: translateY(0%);
    }
}

#dot2 {
    animation: dot 0.8s linear infinite;
    transition: all 1s;
}

@keyframes dot2 {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-6%);
    }
    100% {
        transform: translateY(0%);
    }
}

#dot3 {
    animation: dot 0.8s linear infinite;
    transition: all 1s;
}

@keyframes dot3 {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-6%);
    }
    100% {
        transform: translateY(0%);
    }
}

#solob {
    border-radius: 100px;
    width: 45%;
    font-family: calibri;
}


/*2nd part*/


/*2nd part*/


/*2nd part*/


/*2nd part*/


/*2nd part*/


/*2nd part*/

@media all and (max-width:996px) {
    #navbar a {
        color: rgba(92, 6, 126, 0.8);
        background-color: white;
    }
    #navbar {
        background-color: white;
    }
}

@media all and (max-width:786px) {
    #navbar a {
        color: rgba(92, 6, 126, 0.8);
        background-color: white;
    }
    #navbar {
        background-color: white;
    }
    .over {
        margin-top: 30%;
        display: inline-block;
    }
    .item1 h3 {
        color: white;
        margin-left: 2%;
        margin-right: 30%;
        margin-top: 3%;
    }
    .item1 p {
        color: white;
        margin-right: 6%;
        margin-left: 6%;
    }
    .header {
        clip-path: polygon(0 0, 100% 0, 100% 20%, 95% 61%, 29% 89%, 10% 89%, 0 78%, 0% 20%);
        width: 100%;
        height: 150vh;
        position: relative;
        background-image: url("grammer.jpg");
    background-size: contain;
    }
    .svg {
        width: 220px;
        margin-left: 30%;
        margin-top: 3%;
    }
    #solob {
        width: 30%;
        margin-left: 7%;
    }
}

@media all and (max-width:600px) {
    #navbar a {
        color: rgba(92, 6, 126, 0.8);
        background-color: white;
    }
    #navbar {
        background-color: white;
    }
    .over {
        margin-top: 20%;
        display: inline-block;
    }
    .item1 h3 {
        color: white;
        margin-left: 10%;
        margin-right: 30%;
        margin-top: 3%;
    }
    .item1 p {
        color: white;
        margin-right: 10%;
        margin-left: 10%;
    }
    .header {
        clip-path: polygon(0 0, 100% 0, 100% 20%, 95% 61%, 29% 89%, 10% 89%, 0 78%, 0% 20%);
        width: 100%;
        height: 140vh;
        position: relative;background-image: url("grammer.jpg");
    background-size: contain;
    }
    .svg {
        width: 230px;
        margin-left: 30%;
        margin-top: 5%;
    }
    #solob {
        width: 22%;
        margin-left: 10%;
    }
}

@media all and (max-width:480px) {
    #navbar a {
        color: rgba(92, 6, 126, 0.8);
        background-color: white;
    }
    #navbar {
        background-color: white;
    }
    .over {
        margin-top: 20%;
        display: inline-block;
    }
    .item1 h3 {
        color: white;
        font-size: 19px;
        margin-left: 10%;
        margin-right: 30%;
        margin-top: 4%;
    }
    .item1 p {
        color: white;
        font-size: 15px;
        margin-right: 10%;
        margin-left: 10%;
    }
    .header {
        clip-path: polygon(0 0, 100% 0, 100% 20%, 95% 61%, 29% 89%, 10% 89%, 0 78%, 0% 20%);
        width: 100%;
        height: 130vh;
        position: relative;
     background-image: url("grammer.jpg");
    background-size: contain;
    }
    .svg {
        width: 220px;
        margin-left: 30%;
        margin-top: 3%;
    }
    #solob {
        width: 30%;
        margin-left: 10%;
    }
}

@media all and (max-width:414px) {
    #navbar a {
        color: rgba(92, 6, 126, 0.8);
        background-color: white;
    }
    #navbar {
        background-color: white;
    }
    .over {
        margin-top: 20%;
        display: inline-block;
    }
    .item1 h3 {
        color: white;
        font-size: 24px;
        margin-left: 10%;
        margin-right: 20%;
        margin-top: 6%;
    }
    .item1 p {
        color: white;
        font-size: 15px;
        margin-right: 10%;
        margin-left: 10%;
    }
    .header {
        clip-path: polygon(0 0, 100% 0, 100% 20%, 95% 61%, 29% 89%, 10% 89%, 0 78%, 0% 20%);
        width: 100%;
        height: 110vh;
        position: relative;
       background-image: url("grammer.jpg");
    background-size: contain;
    }
    .svg {
        width: 220px;
        margin-left: 30%;
        margin-top: 3%;
    }
    #solob {
        width: 30%;
        margin-left: 10%;
    }
}

@media all and (max-width:350px) {
    #navbar a {
        color: rgba(92, 6, 126, 0.8);
        background-color: white;
    }
    #navbar {
        background-color: white;
    }
    .over {
        margin-top: 30%;
        display: inline-block;
    }
    .item1 h3 {
        color: white;
        font-size: 19px;
        margin-left: 10%;
        margin-right: 20%;
        margin-top: 4%;
    }
    .item1 p {
        color: white;
        font-size: 15px;
        margin-right: 10%;
        margin-left: 10%;
    }
    .header {
        clip-path: polygon(0 0, 100% 0, 100% 20%, 95% 61%, 29% 89%, 10% 89%, 0 78%, 0% 20%);
        width: 100%;
        height: 140vh;
        position: relative;
       background-image: url("grammer.jpg");
    background-size: contain;
    }
    .svg {
        width: 220px;
        margin-left: 30%;
        margin-top: 1%;
    }
    #solob {
        width: 40%;
        margin-left: 10%;
    }
}

hr {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    color: purple;
    background-color: purple;
}

.tech {
    width: 100%;
    margin-top: 10%;
    height: 300px;
    background-image: url("techB1.jpg");
    background-position: cover;
    position: relative;
}

.overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a3c44bf;
}

.use {
    display: grid;
    grid-template-columns: 50% 50%;
}

.use .k1 h1 {
    font-family: 'RocknRoll One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    font-size: 30px;
    color: white;
    ;
}

.use .k1 p {
    font-family: 'RocknRoll One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 14px;
    color: white;
    ;
}

#Tbtn {
    margin-left: 25%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: transparent;
    width: 50%;
}

#Tbtn:hover {
    transition: 0.6s ease-in-out;
    margin-left: 25%;
    border-radius: 10px;
    background-color: rgb(116, 35, 80);
    color: rgb(255, 255, 255);
}

.images1 img {
    width: 50px;
    margin-left: 3%;
}

.images2 img {
    width: 50px;
    margin-left: 7%;
}

.k2 .images1 {
    margin-left: 30%;
    margin-top: 25%;
}

.k2 .images2 {
    margin-left: 30%;
}

.images1 img {
    animation: anima1 2s linear infinite;
}

@keyframes anima1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8%);
    }
    100% {
        transform: translateY(0);
    }
}

.images1 img:nth-child(1) {
    animation: anima1 1s linear infinite;
}

.images1 img:nth-child(2) {
    animation: anima1 0.8s linear infinite;
}

.images1 img:nth-child(3) {
    animation: anima1 1.4s linear infinite;
}

.images1 img:nth-child(4) {
    animation: anima1 1.1s linear infinite;
}

.images1 img:nth-child(5) {
    animation: anima1 0.4s linear infinite;
}

@keyframes anima2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8%);
    }
    100% {
        transform: translateY(0);
    }
}

.images2 img:nth-child(1) {
    animation: anima2 1s linear infinite;
}

.images2 img:nth-child(2) {
    animation: anima1 0.8s linear infinite;
}

.images2 img:nth-child(3) {
    animation: anima1 1.4s linear infinite;
}

@media all and (max-width:778px) {
    .use {
        display: block;
    }
    .tech {
        width: 100%;
        height: 400px;
        background-image: url("techB.jpg");
        background-position: cover;
        position: relative;
    }
    .use .k1 h1 {
        font-family: 'RocknRoll One', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        font-size: 30px;
        color: white;
        ;
    }
    .use .k1 p {
        font-family: 'RocknRoll One', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        margin-left: 5%;
        font-size: 14px;
        color: white;
        ;
    }
    #Tbtn {
        margin-left: 30%;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-color: transparent;
        width: 40%;
    }
    #Tbtn:hover {
        transition: 0.6s ease-in-out;
        margin-left: 25%;
        border-radius: 10px;
        background-color: rgb(116, 35, 80);
        color: rgb(255, 255, 255);
    }
    .images1 img {
        width: 50px;
        margin-left: 3%;
    }
    .images2 img {
        width: 50px;
        margin-left: 7%;
    }
    .k2 .images1 {
        margin-left: 30%;
        margin-top: 5%;
    }
    .k2 .images2 {
        margin-left: 30%;
    }
}

@media all and (max-width:680px) {
    .use {
        display: block;
    }
    .tech {
        width: 100%;
        height: 400px;
        background-image: url("techB.jpg");
        background-position: cover;
        position: relative;
    }
    .use .k1 h1 {
        font-family: 'RocknRoll One', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        font-size: 30px;
        color: white;
        ;
    }
    .use .k1 p {
        font-family: 'RocknRoll One', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        margin-left: 5%;
        font-size: 14px;
        color: white;
        ;
    }
    #Tbtn {
        margin-left: 30%;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-color: transparent;
        width: 40%;
    }
    #Tbtn:hover {
        transition: 0.6s ease-in-out;
        margin-left: 25%;
        border-radius: 10px;
        background-color: rgb(116, 35, 80);
        color: rgb(255, 255, 255);
    }
    .images1 img {
        width: 50px;
        margin-left: 4%;
    }
    .images2 img {
        width: 50px;
        margin-left: 8%;
    }
    .k2 .images1 {
        margin-left: 25%;
        margin-top: 6%;
    }
    .k2 .images2 {
        margin-left: 25%;
    }
}

@media all and (max-width:518px) {
    .use {
        display: block;
    }
    .tech {
        width: 100%;
        height: 400px;
        background-image: url("techB.jpg");
        background-position: cover;
        position: relative;
    }
    .use .k1 h1 {
        font-family: 'RocknRoll One', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        font-size: 30px;
        color: white;
        ;
    }
    .use .k1 p {
        font-family: 'RocknRoll One', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        margin-left: 5%;
        font-size: 14px;
        color: white;
        ;
    }
    #Tbtn {
        margin-left: 30%;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-color: transparent;
        width: 40%;
    }
    #Tbtn:hover {
        transition: 0.6s ease-in-out;
        margin-left: 25%;
        border-radius: 10px;
        background-color: rgb(116, 35, 80);
        color: rgb(255, 255, 255);
    }
    .images1 img {
        width: 50px;
        margin-left: 3%;
    }
    .images2 img {
        width: 50px;
        margin-left: 7%;
    }
    .k2 .images1 {
        margin-left: 24%;
        margin-top: 8%;
    }
    .k2 .images2 {
        margin-left: 24%;
    }
}

@media all and (max-width:438px) {
    .use {
        display: block;
    }
    .tech {
        width: 100%;
        height: 400px;
        background-image: url("techB.jpg");
        background-position: cover;
        position: relative;
    }
    .use .k1 h1 {
        font-family: 'RocknRoll One', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        font-size: 30px;
        color: white;
        ;
    }
    .use .k1 p {
        font-family: 'RocknRoll One', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        margin-left: 5%;
        font-size: 14px;
        color: white;
        ;
    }
    #Tbtn {
        margin-left: 25%;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-color: transparent;
        width: 50%;
    }
    #Tbtn:hover {
        transition: 0.6s ease-in-out;
        margin-left: 25%;
        border-radius: 10px;
        background-color: rgb(116, 35, 80);
        color: rgb(255, 255, 255);
    }
    .images1 img {
        width: 40px;
        margin-left: 5%;
    }
    .images2 img {
        width: 50px;
        margin-left: 8%;
    }
    .k2 .images1 {
        margin-left: 20%;
        margin-top: 14%;
    }
    .k2 .images2 {
        margin-left: 20%;
    }
}

@media all and (max-width:350px) {
    .use {
        display: block;
    }
    .tech {
        width: 100%;
        height: 400px;
        background-image: url("techB.jpg");
        background-position: cover;
        position: relative;
    }
    .use .k1 h1 {
        font-family: 'RocknRoll One', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15%;
        font-size: 20px;
        color: white;
        ;
    }
    .use .k1 p {
        font-family: 'RocknRoll One', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        margin-left: 5%;
        font-size: 11px;
        color: white;
        ;
    }
    #Tbtn {
        margin-left: 25%;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-color: transparent;
        width: 50%;
    }
    #Tbtn:hover {
        transition: 0.6s ease-in-out;
        margin-left: 25%;
        border-radius: 10px;
        background-color: rgb(116, 35, 80);
        color: rgb(255, 255, 255);
    }
    .images1 img {
        width: 35px;
        margin-left: 3%;
    }
    .images2 img {
        width: 35px;
        margin-left: 7%;
    }
    .k2 .images1 {
        margin-left: 20%;
        margin-top: 20%;
    }
    .k2 .images2 {
        margin-left: 20%;
    }
}

body {
    font-family: 'Lobster', cursive;
}

#overlay3 {
    position: relative;
    background-image: url("techB.jpg");
    background-position: cover;
    width: 100%;
    height: 85vh;
    margin-top: 15%;
}

.overlay3 {
    position: absolute;
    background: #0c2d33b3;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}


/*form*/

form {
    margin-top: 5%;
}

label {
    color: white;
    border-bottom: 3px solid purple;
}

input {
    width: 25%;
    height: 45px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 20px;
    outline: none;
    background: #12718270;
    color: white;
    border-color: white;
    text-align: center;
    box-shadow: 1px 1px 1px white;
}

textarea {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 20px;
    outline: none;
    background: #12718270;
    color: white;
    border-color: white;
    box-shadow: 1px 1px 1px white;
    width: 25%;
    height: 190px;
}

#Cid {
    background-color: rgb(255, 255, 255);
    color: #094a55e7;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid rgba(23, 120, 141, 0.705);
    width: 10%;
    margin-left: 15%;
    box-shadow: 2px 4px 4px rgba(10, 92, 130, 0.611);
}

::placeholder {
    color: rgb(243, 238, 238);
    font-size: 15px;
    margin-left: 15px;
}

@media all and (max-width:965px) {
    #overlay3 {
        position: relative;
        background-image: url("techB.jpg");
        background-position: cover;
        width: 100%;
        height: 80vh;
    }
}

@media all and (max-width:885px) {
    #overlay3 {
        position: relative;
        background-image: url("techB.jpg");
        background-position: cover;
        width: 100%;
        height: 80vh;
    }
    input {
        width: 30%;
        height: 45px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 20px;
        outline: none;
        background-color: rgb(87, 10, 87);
        color: white;
        border-color: white;
        text-align: center;
        box-shadow: 2px 2px 4px white;
    }
    textarea {
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 20px;
        outline: none;
        background-color: rgb(87, 10, 87);
        color: white;
        border-color: white;
        box-shadow: 2px 2px 4px white;
        width: 30%;
        height: 190px;
    }
    #Cid {
        background-color: purple;
        color: rgb(255, 255, 255);
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border: 2px solid rgb(255, 255, 255);
        width: 15%;
        margin-left: 15%;
        box-shadow: 1px 1px 1px rgb(255, 255, 255);
    }
}

@media all and (max-width:810px) {
    #overlay3 {
        position: relative;
        background-image: url("techB.jpg");
        background-position: cover;
        width: 100%;
        height: 80vh;
    }
    form {
        margin-top: 6%;
    }
    input {
        width: 40%;
        margin-top: 2%;
        height: 45px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 20px;
        outline: none;
        background-color: rgb(87, 10, 87);
        color: white;
        border-color: white;
        text-align: center;
        box-shadow: 2px 2px 4px white;
    }
    textarea {
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 20px;
        outline: none;
        background-color: rgb(87, 10, 87);
        color: white;
        border-color: white;
        box-shadow: 2px 2px 4px white;
        width: 40%;
        height: 190px;
    }
    #Cid {
        background-color: purple;
        color: rgb(255, 255, 255);
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border: 2px solid rgb(255, 255, 255);
        width: 20%;
        margin-left: 20%;
        box-shadow: 1px 1px 1px rgb(255, 255, 255);
    }
}

@media all and (max-width:810px) {
    #overlay3 {
        position: relative;
        background-image: url("techB.jpg");
        background-position: cover;
        width: 100%;
        height: 80vh;
    }
    form {
        margin-top: 6%;
    }
    input {
        width: 50%;
        margin-top: 2%;
        height: 45px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 20px;
        outline: none;
        background-color: rgb(87, 10, 87);
        color: white;
        border-color: white;
        text-align: center;
        box-shadow: 2px 2px 4px white;
    }
    textarea {
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 20px;
        outline: none;
        background-color: rgb(87, 10, 87);
        color: white;
        border-color: white;
        box-shadow: 2px 2px 4px white;
        width: 50%;
        height: 190px;
    }
    #Cid {
        background-color: purple;
        color: rgb(255, 255, 255);
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border: 2px solid rgb(255, 255, 255);
        width: 25%;
        margin-left: 25%;
        box-shadow: 1px 1px 1px rgb(255, 255, 255);
    }
}

@media all and (max-width:400px) {
    #overlay3 {
        position: relative;
        background-image: url("techB.jpg");
        background-position: cover;
        width: 100%;
        height: 90vh;
    }
    form {
        margin-top: 6%;
    }
    input {
        width: 60%;
        margin-top: 4%;
        height: 45px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 20px;
        outline: none;
        background-color: rgb(87, 10, 87);
        color: white;
        border-color: white;
        text-align: center;
        box-shadow: 2px 2px 4px white;
    }
    textarea {
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 20px;
        outline: none;
        background-color: rgb(87, 10, 87);
        color: white;
        border-color: white;
        box-shadow: 2px 2px 4px white;
        width: 60%;
        height: 190px;
    }
    #Cid {
        background-color: purple;
        color: rgb(255, 255, 255);
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border: 2px solid rgb(255, 255, 255);
        width: 25%;
        margin-left: 30%;
        box-shadow: 1px 1px 1px rgb(255, 255, 255);
    }
}

@media all and (max-width:330px) {
    #overlay3 {
        position: relative;
        background-image: url("techB.jpg");
        background-position: cover;
        width: 100%;
        height: 100vh;
    }
    form {
        margin-top: 6%;
    }
    input {
        width: 60%;
        margin-top: 4%;
        height: 35px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 20px;
        outline: none;
        background-color: rgb(87, 10, 87);
        color: white;
        border-color: white;
        text-align: center;
        box-shadow: 2px 2px 4px white;
    }
    textarea {
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 20px;
        outline: none;
        background-color: rgb(87, 10, 87);
        color: white;
        border-color: white;
        box-shadow: 2px 2px 4px white;
        width: 60%;
        height: 190px;
    }
    #Cid {
        background-color: purple;
        color: rgb(255, 255, 255);
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border: 2px solid rgb(255, 255, 255);
        width: 25%;
        margin-left: 30%;
        box-shadow: 1px 1px 1px rgb(255, 255, 255);
    }
}

.aboutPage {
    margin-top: 5%;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

#aboutimg {
    width: 10%;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 2px 2px 2px purple;
    margin-top: 10%;
}

#kashee {
    color: black;
    margin-top: 1%;
    font-size: 18px;
    font-family: 'Merienda', cursive;
}

#abouth1 {
    color: purple;
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
}

#aboutT {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Quantico', sans-serif;
}

#aboutB1 {
    box-shadow: 1px 1px 2px rgb(4, 188, 194);
}

@media all and (max-width: 800px) {
    .aboutPage {
        margin-top: 15%;
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
    }
    #aboutimg {
        width: 15%;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: 2px 2px 2px purple;
        margin-top: 10%;
    }
    #kashee {
        color: black;
        margin-top: 1%;
        font-size: 18px;
        font-family: 'Merienda', cursive;
    }
    #abouth1 {
        color: purple;
        font-family: 'Luckiest Guy', cursive;
        font-size: 40px;
    }
    #aboutT {
        margin-left: 10%;
        margin-right: 10%;
        font-family: 'Quantico', sans-serif;
    }
    #aboutB1 {
        box-shadow: 1px 1px 2px rgb(4, 188, 194);
    }
}

@media all and (max-width: 590px) {
    .aboutPage {
        margin-top: 15%;
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
    }
    #aboutimg {
        width: 19%;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: 2px 2px 2px purple;
        margin-top: 10%;
    }
    #kashee {
        color: black;
        margin-top: 1%;
        font-size: 18px;
        font-family: 'Merienda', cursive;
    }
    #abouth1 {
        color: purple;
        font-family: 'Luckiest Guy', cursive;
        font-size: 40px;
    }
    #aboutT {
        margin-left: 10%;
        margin-right: 10%;
        font-family: 'Quantico', sans-serif;
    }
    #aboutB1 {
        box-shadow: 1px 1px 2px rgb(4, 188, 194);
    }
}

@media all and (max-width: 400px) {
    .aboutPage {
        margin-top: 20%;
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
    }
    #aboutimg {
        width: 28%;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: 2px 2px 2px purple;
        margin-top: 10%;
    }
    #kashee {
        color: black;
        margin-top: 1%;
        font-size: 18px;
        font-family: 'Merienda', cursive;
    }
    #abouth1 {
        color: purple;
        font-family: 'Luckiest Guy', cursive;
        font-size: 40px;
    }
    #aboutT {
        margin-left: 5%;
        margin-right: 5%;
        font-family: 'Quantico', sans-serif;
    }
    #aboutB1 {
        box-shadow: 1px 1px 2px rgb(4, 188, 194);
        margin-top: 5%;
    }
    #aboutB2 {
        box-shadow: 1px 1px 2px rgb(4, 188, 194);
        margin-top: 5%;
    }
}

@media all and (max-width: 450px) {
    .aboutPage {
        margin-top: 10%;
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
    }
    #aboutimg {
        width: 28%;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: 2px 2px 2px purple;
        margin-top: 10%;
    }
    #kashee {
        color: black;
        margin-top: 1%;
        font-size: 18px;
        font-family: 'Merienda', cursive;
    }
    #abouth1 {
        color: purple;
        font-family: 'Luckiest Guy', cursive;
        font-size: 40px;
    }
    #aboutT {
        margin-left: 10%;
        margin-right: 10%;
        font-family: 'Quantico', sans-serif;
    }
    #aboutB1 {
        box-shadow: 1px 1px 2px rgb(4, 188, 194);
        margin-top: 5%;
    }
    #aboutB2 {
        box-shadow: 1px 1px 2px rgb(4, 188, 194);
        margin-top: 5%;
    }
}
